# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [2]:
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [3]:
x=pd.read_csv('application_data.csv')
x

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [4]:
x['appilcationDate'] = pd.to_datetime(x['appilcationDate'])
x['repaymentDueDate'] = pd.to_datetime(x['repaymentDueDate'])
x['repaymentPaidDate'] = pd.to_datetime(x['repaymentPaidDate'])

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [5]:
ny = pd.to_datetime(x['appilcationDate'], format='%Y-%m-%d')
pd.DataFrame(ny)

    appilcationDate
0        2018-12-21
1        2018-12-23
2        2019-01-08
3        2019-01-04
4        2018-12-21
..              ...
995      2018-01-15
996      2018-02-13
997      2018-01-03
998      2018-11-19
999      2018-01-24

[1000 rows x 1 columns]

In [16]:
x.dtypes.nunique()

4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [6]:
# 2a avg loan amount
round(x['LoanAmount'].mean(),2)

13828.08

In [7]:
# 2b avg interest rate
round(x['InterestRate'].mean(),2)

23.06

In [8]:
# 2c avg term days 
round(x['TermDays'].mean(),2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [9]:
import datetime

In [26]:
# number of loans more than 3 days late 	
x['dateDifference']= x['repaymentPaidDate']-x['repaymentDueDate']

In [27]:
c = datetime.timedelta(days=3)
c.days

3

In [28]:
x[['dateDifference']]

    dateDifference
0          -4 days
1         -24 days
2         -30 days
3         -26 days
4          -3 days
..             ...
995       -25 days
996        -1 days
997       252 days
998        -2 days
999       -13 days

[1000 rows x 1 columns]

In [13]:
(x['dateDifference'] > c).sum()

145

In [14]:
x[x['dateDifference'] > c].count()

customerID           145
loanId               145
appilcationDate      145
LoanNumber           145
LoanAmount           145
InterestRate         145
TermDays             145
repaymentDueDate     145
repaymentPaidDate    145
dateDifference       145
dtype: int64

# ---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [15]:
y=x.groupby('TermDays')
round(y['LoanAmount'].mean(),2)

TermDays
15      1274.09
30      7941.96
45     10706.25
60     25710.53
90     37672.73
120    45055.56
180    80988.10
Name: LoanAmount, dtype: float64

In [16]:
round(y['LoanAmount'].std(),2)

TermDays
15      2885.97
30      1606.04
45      2346.14
60     11559.65
90     18050.14
120    22192.97
180    34612.22
Name: LoanAmount, dtype: float64

In [17]:
Z=x[x['TermDays']==30]
P=Z.groupby('TermDays')
round(P['LoanAmount'].mean(),2)

TermDays
30    7941.96
Name: LoanAmount, dtype: float64

In [18]:
F=x[x['TermDays']==90]
G=F.groupby('TermDays')
round(G['LoanAmount'].std(),2)

TermDays
90    18050.14
Name: LoanAmount, dtype: float64

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [ ]:
# week of year and average number of late days
x['week of year']=x['appilcationDate'].dt.isocalendar().week
x[x['week of year']==2].groupby('week of year').mean()['dateDifference']

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the iodeajo@gmail.com.